.footer-nav {
    display: flex;
    margin-bottom: 28px;
    padding-left: 646px;
    padding-top: 91px;
    position: relative;
  
    &::before {
      content:  "";
      position: absolute;
      width: 1562px;
      height: 2px;
      background-color: $border-footer-nav;
      top: 5px;
      left: 353px;
    }
  }
  .footer-nav__item {
    width: 158px;
    margin-right: -59px;
    &--service {
      margin-right: -40px;
    }
    &--about-us {
      margin-right: -26px;
    }
    &--pricing-table {
      margin-right: 15px;
    }
    &--how-work {
      margin-right: 9px;
    }
    &--happy {
      margin-right: 19px;
    }
  }
  .footer-nav__link {
    text-transform: uppercase;
    font-family: "Lato","Arial", sans-serif;
    font-weight: 400;
    color: $text-title-color;
    font-size: 20px;
  }