.footer-social {
    padding-bottom: 61px;
  }
  .footer-social__phone {
    font-family: "Lato","Arial", sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: $text-title-color;
    text-align: center;
    position: relative;
    padding-left: 33px;
  
    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 24px;
      background-image: url("../img/icon-footer-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 2px;
      left: 1017px;
    }
  }