.footer-social {
  padding-bottom: 61px;
}

.footer-social__phone {
  position: relative;
  padding-left: 33px;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 29px;
  font-weight: 400;
  color: $text-title-color;

  &::before {
    position: absolute;
    top: 2px;
    left: 1017px;
    width: 25px;
    height: 24px;
    content: "";
    background-image: url("../img/icon-footer-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}