.footer-copyright {
  margin-bottom: -13px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: $bg-blue-color;
  color: $text-secondary-color;
}

.footer-copyright__text {
  font-size: 22px;
}