.footer-copyright {
    background-color: $bg-blue-color;
    color: $text-secondary-color;
    text-align: center;
    margin-bottom: -13px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .footer-copyright__text {
    font-size: 22px;
  }