@mixin btn-default {
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: $text-secondary-color;
  background-color: $btn-links-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

@mixin btn-state {

  &:hover,
  &:focus {
    color: $text-links-color;
    background-color: $hover-btn-color;
  }

  &:active {
    background-color: $active-btn-color;
  }
}

@mixin links-default {
  text-transform: uppercase;
  border-radius: 2px;
}

@mixin title {
  text-transform: uppercase;
  text-align: center;
  color: $text-title-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 22px;
}

@mixin subtitle {
  text-align: center;
  color: $text-title-color;
  font-size: 22px;
  line-height: 22px;
}