  .about-us {
    display: flex;
    margin-bottom: -9px;
    color: $text-secondary-color;
    background-color: $bg-orange-color;
  }

  .about-us__img {
    width: 1133px;
  }

  .about-us__wrapper {
    width: 850px;
    padding-top: 192px;
    padding-left: 109px;
  }

  .about-us__title {
    @include title;
    margin-bottom: 32px;
    text-align: left;
    color: $text-secondary-color;
    font-size: 37px;
  }

  .about-us__text {
    width: 699px;
    margin-bottom: 90px;
    font-size: 18px;
    line-height: 31px;
  }

  .about-us__link {
    @include links-default;
    padding: 21px 65px 22px 57px;
    border: 1px solid $btn-border-color;
    color: $text-secondary-color;

    &:hover,
    &:focus {
      color: $text-links-color;
      background-color: $hover-links-color;
    }

    &:active {
      background-color: $btn-border-color;
    }
  }