.address {
  position: absolute;
  z-index: 1;
  top: 6905px;
  left: 945px;
  width: 376px;
  height: 372px;
  padding: 65px 68px 60px 79px;
  text-align: center;
  color: $text-address-color;
  background-color: $text-title-color;
  border-radius: 50%;
  line-height: 24px;
}

.address__title {
  position: relative;
  margin-bottom: -4px;
  text-transform: uppercase;
  color: $text-secondary-color;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
}

.address__text {
  width: 208px;
  padding-left: 22px;
  text-align: center;
  font-size: 19px;
  line-height: 32px;
}

.address__link {
  color: $btn-links-color;
}