.map {
    position: relative;
    padding-top: 23px;
    padding-left: 400px;
    padding-bottom: 88px;
  }
  .map__logo-mark {
    position: absolute;
    width: 50px;
    height: 48px;
    top: 338px;
    left: 763px;
  }