.newsletter {
  padding-top: 177px;
  padding-bottom: 53px;
  color: $text-title-color;
}

.newsletter__title {
  @include title;
  margin-bottom: -8px;
}

.newsletter__text {
  @include subtitle;
  margin-bottom: 53px;
}

.newsletter__list {
  display: flex;
  padding-left: 509px;
}

.newsletter__item {
  position: relative;
  width: 400px;
  margin-right: 24px;

  &::before {
    position: absolute;
    top: 20px;
    left: 21px;
    width: 20px;
    height: 18px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--user {
    &::before {
      background-image: url("../img/icon-user.svg");
    }
  }

  &--email {
    &::before {
      top: 22px;
      left: 23px;
      background-image: url("../img/icon-envelope.svg");
    }
  }
}

.newsletter__input {
  padding: 26px 181px 19px 59px;
  border: 1px solid $border-secondary-color;
  border-radius: 2px;

  &::placeholder {
    text-transform: capitalize;
    color: $text-placeholder-color;
    font-size: 16px;
  }

  &--email {
    padding-right: 285px;
    padding-left: 62px;
  }
}

.newsletter__button {
  @include btn-default;
  @include btn-state;
  margin-left: 106px;
  padding: 22px 79px 19px 69px;
}