.price-card {
  display: flex;
  padding-left: 353px;
  text-transform: uppercase;
  color: $text-card-color;
  font-family: "Lato", "Arial", sans-serif;
}

.price-card__item {
  width: 479px;
  margin-right: 5px;
  padding: 44px 106px 76px 141px;
  text-align: center;
  border: 1px solid $border-color;
  background-color: $bg-main-color;

  &--premium {
    padding-left: 89px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
    color: $bg-main-color;
    background-color: $bg-blue-color;
  }
}

.price-card__title {
  margin-bottom: 65px;
  font-size: 29px;
  font-weight: 300;
}

.price-card__cost {
  position: relative;
  display: block;
  margin-bottom: 26px;
  padding-left: 28px;
  color: $btn-links-color;
  font-size: 79px;
  line-height: 22px;

  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 58px;
    width: 21px;
    height: 37px;
    background-image: url("../img/icon-price-dollar.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.price-card__time {
  display: block;
  margin-bottom: 37px;
  font-size: 18px;
  font-weight: 300;
}

.price-card__link {
  @include links-default;
  padding: 19px 22px;
  color: $text-secondary-color;
  background-color: $btn-links-color;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $text-links-color;
    background-color: $hover-second-links;
  }

  &:active {
    border: 1px solid $hover-second-links;
    border-radius: 2px;
    background-color: $hover-links-color;
  }
}