.price {
  padding-top: 151px;
  padding-bottom: 259px;
  background-color: $bg-grey-color;
}

.price__title {
  @include title;
  margin-bottom: -11px;
}

.price__text {
  @include subtitle;
  margin-bottom: 105px;
}