.promo {
  position: relative;
  margin-bottom: 203px;
  padding-top: 112px;
  padding-bottom: 462px;
  text-align: center;
  background-color: $bg-blue-color;
}

.promo__title {
  margin-bottom: -8px;
  text-transform: uppercase;
  color: $text-secondary-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.promo__text {
  @include subtitle;
  margin-bottom: 44px;
  color: $text-secondary-color;
}

.promo__list {
  display: flex;
  padding-left: 408px;
}

.promo__item {
  position: relative;
  width: 281px;
  margin-right: 108px;

  &::before {
    position: absolute;
    display: block;
    top: 18px;
    left: 17px;
    width: 25px;
    height: 22px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;

  }

  &--user {
    &::before {
      background-image: url("../img/icon-user.svg");
    }
  }

  &--email {
    &::before {
      background-image: url("../img/icon-envelope.svg");
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icon-phone.svg");
    }
  }
}

.promo__input {
  padding-top: 25px 152px 22px 55px;
  border: none;
  border-radius: 2px;

  &::placeholder {
    text-transform: capitalize;
    color: $text-placeholder-color;
  }
}

.promo__button {
  @include btn-default;
  @include btn-state;
  margin-left: -4px;
  padding: 21px 43px 21px 53px;
}

.promo__image {
  position: absolute;
  top: 412px;
  left: 701px;
  width: 648px;
  height: 344px;
}