.promo {
    background-color: $bg-blue-color;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 462px;
    margin-bottom: 203px;
    position: relative;
  }
  
  .promo__title {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: $text-secondary-color;
    margin-bottom: -8px;
    text-transform: uppercase;
  }
  .promo__text {
    @include subtitle;
    color: $text-secondary-color;
    margin-bottom: 44px;
  }
  .promo__list {
    display: flex;
    padding-left: 408px;
  }
  .promo__item {
    width: 281px;
    margin-right: 108px;
    position: relative;
    &::before{
      content: "";
      width: 25px;
      height: 22px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      top: 18px;
      left: 17px;
      display: block;
    }
    &--user{
      &::before {
        background-image: url("../img/icon-user.svg");
        }
      }
    &--email{
      &::before {
        background-image: url("../img/icon-envelope.svg");
      }
    }
    &--phone {
      &::before {
        background-image: url("../img/icon-phone.svg");
      }
    }
  }
  .promo__input {
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 55px;
    padding-right: 152px;
    border: none;
    border-radius: 2px;
  
    &::placeholder{
      color: $text-placeholder-color;
      text-transform: capitalize;
    }
  }
  .promo__button {
    @include btn-default;
    @include btn-state;
    padding: 21px 43px 21px 53px;
    margin-left: -4px;
  }
  .promo__image {
    position: absolute;
    width: 648px;
    height: 344px;
    top: 412px;
    left: 701px;
  }