.reviews {
  padding-top: 159px;
  padding-bottom: 185px;
  color: $text-secondary-color;
  background-color: $bg-orange-color;
}

.reviews__title {
  @include title;
  margin-bottom: -9px;
  color: $text-secondary-color;
}

.reviews__text {
  @include subtitle;
  margin-bottom: 79px;
  color: $text-secondary-color;
}