.services {
  display: flex;
  flex-wrap: wrap;
  padding-left: 463px;
}

.services__item {
  position: relative;
  width: 576px;
  margin-right: 246px;
  margin-bottom: 62px;

  &::before {
    position: absolute;
    top: 13px;
    left: -107px;
    width: 58px;
    height: 71px;
    content: "";
    background-image: url("../img/icon-font-awesome.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--gear {
    &::before {
      top: 12px;
      left: -109px;
      background-image: url("../img/icon-gear.svg");
    }
  }

  &--graduation {
    &::before {
      top: 10px;
      left: -106px;
      width: 73px;
      background-image: url("../img/icon-graduation.svg");
    }
  }

  &--rocket {
    &::before {
      background-image: url("../img/icon-rocket.svg");
    }
  }

  &--renren {
    margin-top: -28px;

    &::before {
      background-image: url("../img/icon-renren.svg");
    }
  }

  &--dollar {
    margin-top: -28px;

    &::before {
      left: -99px;
      background-image: url("../img/icon-dollar.svg");
    }
  }
}

.services__title {
  text-transform: uppercase;
  color: $text-title-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.services__text {
  font-size: 19px;
}