$btn-links-color: #ffbb42;
$btn-border-color: #e7ad48;
$bg-blue-color: #709dca;
$bg-orange-color: #ffc155;
$bg-grey-color: #e7edf3;
$bg-main-color: #ffffff;

$text-main-color: #7b7b7b;
$text-secondary-color: #ffffff;
$text-placeholder-color: #a9a9a9;
$text-title-color: #394b50;
$text-links-color: #868686;
$text-card-color: #818b95;
$text-autor-color: #f6772c;
$text-address-color: #aeb7ba;

$active-btn-color: #ffffff;
$hover-btn-color: #ffcd0f;
$hover-links-color: #ffffff;
$hover-second-links: #ffcd0f;
$border-color: #ccd5df;
$border-secondary-color: #cbcbcb;
$border-footer-nav: #e3e7ec;